@mixin iconConstructor ($top, $width, $height, $num) {
  top: $top;
  width: $width;
  height: $height;
  background-image: url("../img/icon_0#{$num}.png");
}

.offer-card {
  background-color: $gray;
  margin-top: 33px;
  position: relative;

  padding-top: 104px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::before {
    content: '';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
  }

  &--icon01 {
    &::before {
      @include iconConstructor(40px, 52px, 64px, 1);
    }
  }

  &--icon02 {
    &::before {
      @include iconConstructor(40px, 62px, 64px, 2);
    }
  }

  &--icon03 {
    &::before {
      @include iconConstructor(46px, 64px, 52px, 3);
    }
  }
}

.offer-card__title {
  font-family: $PT;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $blue;

  text-align: center;
  margin-top: 26px;
}

.offer-card__description {
  font-family: $PT;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $blue;
  margin-top: 10px;

  min-height: 73px;
}

.offer-card__btn {
  margin-top: 20px;

  font-family: $PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #1657AB;

  &:hover {
    color: $blue;
  }

  &:active {
    color: red;
  }
}

@media(min-width: 768px) {
  .offer-card__title {
    min-height: 46px;
  }

  .offer-card__description {
    min-height: 108px;
  }

  .offer-card__btn {
    margin-top: 30px;
  }
}

@media(min-width: 992px) {
  .offer-card__title {
    font-size: 18px;
    min-height: auto;
    line-height: 23.29px;
  }

  .offer-card__description {
    font-size: 14px;
    min-height: 84px;
    line-height: 18.12px;
  }

  .offer-card__btn {
    margin-top: 30px;
  }
}


@media(min-width: 1200px) {
  .offer-card {
    padding-right: 35px;
    padding-left: 35px;
    width: 340px;
  }

  .offer-card__description {
    font-size: 14px;
    min-height: 72px;
  }

  .offer-card__btn {
    margin-top: 37px;
  }
}
