@mixin iconConstructor ($width, $height, $num) {
  width: $width;
  height: $height;
  background-image: url("../img/product_0#{$num}.png");
}

.product-card {
  margin-top: 45px;
  position: relative;

  padding-top: 64px;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &--icon01 {
    &::before {
      @include iconConstructor(64px, 64px, 1)
    }
  }

  &--icon02 {
    &::before {
      @include iconConstructor(58px, 64px, 2)
    }
  }

  &--icon03 {
    &::before {
      @include iconConstructor(64px, 62px, 3)
    }
  }

  &--icon04 {
    &::before {
      @include iconConstructor(91px, 59px, 4)
    }
  }

  &--icon05 {
    &::before {
      @include iconConstructor(58px, 64px, 5)
    }
  }

  &--icon06 {
    &::before {
      @include iconConstructor(64px, 48px, 6)
    }
  }
}

.product-card__title {
  font-family: $PT;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $blue;

  text-align: center;
  margin-top: 25px;
}

.product-card__description {
  font-family: $PT;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $blue;
  text-align: center;
  margin-top: 10px;
}

.product-card__link {
  text-decoration: underline;
  color: $linkBlue;
}

@media(min-width: 992px) {
  .product-card__title {
    font-size: 18px;
  }

  .product-card__description {
    font-size: 14px;
  }
}

@media(min-width: 1200px) {
  .product-card {
    padding-right: 30px;
    padding-left: 30px;
  }

  .product-card__description {
    font-size: 14px;
    line-height: 18px;
  }
}
